* {
	box-sizing: border-box;
}

body{
	background-color: #26A65B;
}

.userTitle {
	font-size: 30px;
}
a.logout {
	text-decoration: none;
	color: #ECF0F1;
}

.formField {
	background-color: #03C9A9;
	width: 100%;
}

.formField .label-user{
	padding: 5px;
	background-color: #03C9A9;
	width: 28%;
	font-size: 30px;
	display: inline-flex;
}

.formField .input-user{
	background-color: #ECF0F1;
	width: 45%;
	font-size: 30px;
	outline: none;
	border: none;
	padding: 15px;
	height: 75px;
}

.formField .btn-user{
	background-color: #ECF0F1;
	width: 26%;
	font-size: 30px;
	outline: none;
	border: none;
	padding: 15px;
	height: 75px;
}

.container {
	width: 520px;
	margin: auto;
}

.btn {
	width:100%;
	font-size: 30px;
	background-color: #03C9A9;
	padding: 5px;
	padding-left: 15px
}

.btn a, .btn input[type="submit"] {
	width: 100%;
	border: none;
	background-color: #03C9A9;
	color: #ECF0F1;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	text-align: left;
}

.btn a:hover, .btn input[type="submit"]:hover {
	color: #6C7A89;
}

ul#interests {
	list-style: none;
	padding: 0;
}

ul#interests li.interest{
	list-style: none;
	font-size: 24px;
	background: #03C9A9;
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
}

ul#interests li.interest:first-child {
	margin-left: 0;
}

ul#interests li.interest a.delete {
	font-family: sans-serif;
	color: #ECF0F1;
	margin-right: 10px;
}


